
* {
    margin: 0;
    box-sizing: border-box;
    background: #98c1ff;
    opacity: inherit;
    
}

@media (max-width: 768px) {
  /* Estilos para telas menores ou iguais a 768px */
  body {
    font-size: 16px;
  }
  .container {
    width: 100%; /* O container se adapta à largura total da tela */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para telas entre 769 e 1024 pixels */
  .nav {
    display: flex; /* Exibe o menu em linha para tablets */
  }
}

@media (min-width: 1025px) {
  /* Estilos para telas maiores que 1024 pixels */
  body {
    font-size: 18px;
  }
}

body {
    text-align: center;
    text-size-adjust: 500px;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    text-align: justify;
    width: 50%;
    margin: 0 auto;
    padding: 2%;
    /*position: relative; 
    top: 50%; 
    left: 50%; 
    transform: translate(0%, 0%);*/
}

h1 {
    font-family: Arial, Helvetica, sans-serif;

}
h2 {
    font-family: Arial, Helvetica, sans-serif;

}

h3 {
    font-family: Arial, Helvetica, sans-serif;

}

h4 {
    font-family: Arial, Helvetica, sans-serif;

}

h6 {
    font-family: Arial, Helvetica, sans-serif;
  
}

label {
    font-family: Arial, Helvetica, sans-serif;

}

section {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal; 
}

nav {
  display: flex;
  justify-content: space-around; /* Espaço entre os itens */
  align-items: center; /* Alinha verticalmente ao centro */
  background-color: #98c1ffc2;; /* Cor de fundo (opcional) */
  padding: 10px; /* Espaçamento interno */
}

nav ul {
  list-style: none; /* Remove marcadores da lista */
  padding: 0; /* Remove o espaçamento padrão da lista */
  margin: 0; /* Remove a margem padrão da lista */
}

nav ul li {
  display: inline-block; /* Permite que os itens da lista fiquem lado a lado */
  font-family: Arial, Helvetica, sans-serif;
}

nav ul li a {
  color: rgb(0, 0, 0); /* Cor do texto dos links */
  text-decoration: none; /* Remove sublinhado dos links */
  padding: 10px 20px; /* Espaçamento interno dos links */
  display: block; /* Permite que o espaçamento interno dos links seja respeitado */
  border-radius: 8px;
  transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;
}

nav ul li a:hover {
  background-color: #1b77f0b2; /* Cor de fundo ao passar o mouse */
  border-radius: 18px;
  transform: scale(1.2)
}


.botao {
    border: solid 2px darkblue;
    border-radius: 5px;
    

}

.botao:hover {
    background-color: cornflowerblue;
    color: aquamarine;
    
}

img.imagem {
  transition: all 0.3s ease-in-out;
}

img.imagem:hover {
  transform: scale(1.8);
  box-shadow: 0 0 10px rgba(74, 148, 218, 0.5);
}

section.form {
    text-align: center;
    scroll-padding: 300px;
}

div#voltar {
  padding: 10px 20px;
  display: block;
  background-color: #98c1ff;
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease;
  padding: 0;
  margin: 0;

}

div#voltar:hover {
  transform: scale(1.2);
  
}

footer {
  padding: 20px;
}