

* {
    margin: 0;
    box-sizing: border-box;
    background: #98c1ff;
    opacity: inherit;
    
}

@media (max-width: 768px) {
  /* Estilos para telas menores ou iguais a 768px */
  body {
    font-size: 16px;
  }
  .container {
    width: 100%; /* O container se adapta à largura total da tela */
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Estilos para telas entre 769 e 1024 pixels */
  .nav {
    display: flex; /* Exibe o menu em linha para tablets */
  }
}

@media (min-width: 1025px) {
  /* Estilos para telas maiores que 1024 pixels */
  body {
    font-size: 18px;
  }
}

body {
    text-align: center;
    text-size-adjust: 
}

p {
    font-family: Arial, Helvetica, sans-serif;
    vertical-align: middle;
    text-align: justify;
    width: 50%;
    margin: 0 auto;
    padding: 2%;
    /*position: relative; 
    top: 50%; 
    left: 50%; 
    transform: translate(0%, 0%);*/
}

h1 {
    font-family: Arial, Helvetica, sans-serif;

}
h2 {
    font-family: Arial, Helvetica, sans-serif;

}

h3 {
    font-family: Arial, Helvetica, sans-serif;

}

h4 {
    font-family: Arial, Helvetica, sans-serif;

}

label {
    font-family: Arial, Helvetica, sans-serif;

}

$cor-1: #9b59b6;
$cor-2: #ecf0f1;
$cor-3: #27ae60; // green


html {
  box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: $cor-3;
}

nav {
  ul {
    list-style: none;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
}


h1 {
  width: 500px;
  margin: 100px auto 20px;
  color: #f0f0f0;
  text-align: center;
}

.menu {
  
}


.botao {
    border: solid 2px darkblue;
    border-radius: 5px;
    transition: background-color 0.5s ease, color 0.5s ease, transform 0.5s ease;

}

.botao:hover {
    background-color: cornflowerblue;
    color: aquamarine;
    transform: scale(1.1);
}

img.imagem {
  transition: all 0.3s ease-in-out;
}

img.imagem:hover {
  transform: scale(1.8);
  box-shadow: 0 0 10px rgba(74, 148, 218, 0.5);
}

section.form {
    text-align: center;
    scroll-padding: ;